.container {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.title {
  color: var(--text-black);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  line-height: 2.6rem;
}

.title1 {
  color: var(--text-white);
}

.title2 {
  display: block;
  color: var(--text-purple);
}

.subtitle {
  color: var(--text-purple);
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 0.75rem;
}

.buttonWrapper {
  margin-top: 1.5rem;
}

.button {
  background: var(--text-purple);
  border: none;
  color: var(--text-white);
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  padding: 1.5rem 2.5rem;
  transition: all 0.2s ease;
}

.button:hover {
  background: var(--text-white);
  color: var(--text-purple);
}

/**
  Breakpoints:
  ------------
  sm: min-width: 640px; //small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/

/* sm breakpoint */
@media (min-width: 640px) {
  .title {
    font-size: 3rem;
    line-height: 1;
  }

  .subtitle {
    margin-top: 1.25rem;
  }

  .buttonWrapper {
    display: flex;
    margin-top: 2rem;
  }
}

/* md breakpoint */
@media (min-width: 768px) {
  .title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .subtitle {
    margin-top: 1.25rem;
  }

  .button {
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* lg breakpoint */
@media (min-width: 1024px) {
  .container {
    text-align: left;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 3rem;
  }

  .title2 {
    padding-left: 0.5rem;
  }

  .subtitle {
    margin: 1.1rem 0;
  }

  .buttonWrapper {
    display: flex;
  }
}

/* xl breakpoint */
@media (min-width: 1280px) {
  .title2 {
    display: inline;
  }
}
